body {
    background-color: #7A1B7A;
    text-align: center;

}
td.hidden {
    background-color: #00008b;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 50px;
    text-indent: -1000em
}
table {
    user-select: none;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(23, 20, 20);
    border: 1px 1px 1px black;
    margin: auto;
    padding: 6px;
    border-spacing: 4px;
    border-radius: 7px;
    justify-content: center;
}
.buton {
    font-family: 'Times New Roman', Times, serif;
    border: 5px 5px 5px #00008b;
    padding: 5px;
    border-style: solid;
    width: 80px;
    margin: auto;
    text-align: center;
    background-color: #00008b;
    cursor: pointer;
    font-size: larger;
}
td:active {
    background-color: #7A1B7A;
}
.buton:active {
    background-color: #7A1B7A;
    color: #00008b;
    border-color: #7A1B7A;
}
td {
    color: #00008b;
    background-color: #7A1B7A;
    text-shadow: none;
    font-size: 50px;
    cursor: not-allowed;
    width: 60px;
    height: 60px;
}
