body {
    user-select: none;
    text-align: center;
    background-color: #7A1B7A;
    color: #00008b;
    text-shadow: 1px 1px 3px rgb(23, 20, 20);
}
td {
    width: 150px;
    height: 150px;
    background-color: black;
    box-shadow: 1px 1px 3px inset black;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    color: #00008b;;
    user-select: none;
}
td.X {
    background-color: #7A1B7A;
    color: #00008b;
}
td.O {
    background-color: #00008b;
    color:#7A1B7A
}
td:hover {
    background-color: black;
    box-shadow: 1px 1px 3px black;
}
td:active {
    background-color: rgb(144, 54, 54);
    box-shadow: 1px 1px 3px inset black;
}
td.X:hover {
    background-color: #7A1B7A;
    box-shadow: 1px 1px 3px inset black;
    cursor: not-allowed;
}
td.O:hover {
    background-color: #00008b;;
    box-shadow: 1px 1px 3px inset black;
    cursor: not-allowed;
}
table {
    cursor: not-allowed;
    margin: auto;
    padding: 6px;
    border-spacing: 4px;
    background-color: #00008b;;
    border-radius: 7px;
    box-shadow: 1px 1px 4px black;
}
